<div class="bg-white rounded-xl shadow-sm border border-gray-100">
  <!-- En-tête -->
  <div class="p-6 border-b border-gray-200 bg-gradient-to-r from-benin-green/5 to-benin-blue/5">
    <h2 class="text-xl font-bold text-gray-900 font-montserrat">TOUS LES DÉTAILS</h2>
  </div>

  <div class="p-6 space-y-8">
    <!-- Image -->
<div class="grid grid-cols-2 gap-4">
  <div class="w-full h-64 bg-gray-200 rounded-lg overflow-hidden">
    <img 
      [src]="getLink('actualites/big', actualite?.big_photo)"
      alt="Image 1"
      class="w-full h-full object-contain object-center"
    />
  </div>

  <div class="w-full h-64 bg-gray-200 rounded-lg overflow-hidden">
    <img 
      [src]="getLink('actualites', actualite?.photo)"
      alt="Image 2"
      class="w-full h-full object-contain object-center"
    />
  </div>
</div>


    <!-- Titre -->
    <div>
      <h3 class="text-sm font-semibold text-gray-700 mb-2 font-montserrat">Titre de l'actualité</h3>
      <p class="text-lg font-medium text-gray-900 font-roboto">{{actualite?.title}}</p>
    </div>

    <!-- Résumé -->
    <div>
      <h3 class="text-sm font-semibold text-gray-700 mb-2 font-montserrat">Résumé</h3>
      <p class="text-gray-700 leading-relaxed font-roboto">
{{actualite?.resume}}      </p>
    </div>

    <!-- Description -->
    <div>
      <h3 class="text-sm font-semibold text-gray-700 mb-2 font-montserrat">Description</h3>
      <p class="text-gray-700 leading-relaxed font-roboto font-bold">
{{actualite?.description}}      </p>
    </div>

    <!-- Auteur -->
    <div>
      <h3 class="text-sm font-semibold text-gray-700 mb-2 font-montserrat">Auteur</h3>
      <p class="text-gray-900 font-roboto">{{actualite?.author}}</p>
    </div>

    <!-- À publier -->
    <div>
      <h3 class="text-sm font-semibold text-gray-700 mb-2 font-montserrat">À publié sur l'accueil principal</h3>
      <p class="text-gray-900 font-roboto">{{actualite?.media?.has_principal_access? 'OUI': 'NON'}}</p>
    </div>



  </div>
</div>
